{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><b>Online Warehouse</b></h1>
      <p>Online Warehouse Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Sachin Bansal and Binny Bansal in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal. as of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[7] Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2><b>Contact</b></h2>
        <p>Fo any query User can contact us contact information means information to enable an individual at a place of business to be contacted and includes the name, business telephone number number of the individual. </p>
        <p><a class="btn btn-info" href="/shop/contact" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2><b>Blog</b></h2>
        <p>Under the blog section user can create a blog. A blog is a discussion or informational website published on the World Wide Web consisting of discrete, so that the most recent post appears first, at the top of the web page. </p>
        <p><a class="btn btn-info" href="/blog" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2><b>Paytm Payment</b></h2>
        <p>Paytm (a partial abbreviation for "pay through mobile") is an Indian multinational technology company that specializes in digital payment system, e-commerce and financial services, based in Noida. </p>
        <p><a class="btn btn-info" href="https://paytm.com/" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

  <footer class="bg-dark text-light position-relative fixed-bottom">
    <p class="text-center py-2 my-0">
        Copyright &copy; 2022 - All rights reserved
    </p>
</footer>

</main>

{% endblock %}
